:root {
  /*1rem = 16px*/
  font-size: 100%;

  /*color-scheme: light dark;*/
  --bg-dark: #1F2533;
  --bg-light: #EAEAEA;
  --text-primary-dark: #e4e4e4;
  --text-primary-light: #222;
  --text-secondary-dark: #e6e6e6;
  --text-secondary-light: #666;
  --text-accent-dark: #fff;
  --text-accent-light: #000;
  --hover-light-bg-color: #e2e2e2;
  --hover-dark-bg-color: #2A3143;

  --text-primary-color: var(--text-primary-light);
  --text-secondary-color: var(--text-secondary-light);
  --text-accent-color: var(--text-accent-light);
  --bg-color: var(--bg-light);
  --hover-bg-color: var(--hover-light-bg-color);

  --h1-font-size: 2rem;
  --h2-font-size: .875rem;
  --h2-subtitle-font-size: 1rem;
  --h3-font-size: 1rem;
  --p-font-size: .875rem;
  /*--tile-header-font-size: .75rem;*/
  --tile-header-font-size: .875rem;
  --footer-font-size: .75rem;

  --mode-icon-margin: 1.25rem;

  --page-horizontal-padding: 1.5rem;
  --page-vertical-padding: 3rem;
  --page-global-gap: .5rem;
  --gap: 1.25rem;
  --section-margin-bottom: 2rem;

  --animation-time-and-easing: .2s ease-in-out;

  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    --text-primary-color: var(--text-primary-dark);
    --text-secondary-color: var(--text-secondary-dark);
    --text-accent-color: var(--text-accent-dark);
    --bg-color: var(--bg-dark);
    --hover-bg-color: var(--hover-dark-bg-color);

  }

  @media screen and (min-width: 640px) {
    --h1-font-size: 3rem;
    --h2-font-size: .875rem;
    --h2-subtitle-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --p-font-size: .875rem;

    /*--gap: .625rem;*/
  }

  @media screen and (min-width: 768px) {
    --page-horizontal-padding: 3rem;
    --page-vertical-padding: 5rem;
    --mode-icon-margin: 2rem;
  }

  @media screen and (min-width: 1024px) {
    --page-horizontal-padding: 6rem;
    --page-vertical-padding: 6rem;
    --mode-icon-margin: 3rem;
  }

  @media screen and (min-width: 1274px) {
    --h2-font-size: 0.75
  }
}

body {
  transition: background-color var(--animation-time-and-easing),
              color var(--animation-time-and-easing);
}

b {
  transition: color .5s ease-in-out;
}

/*body {*/
/*  color: light-dark(#333b3c, #efefec);*/
/*  background-color: light-dark(#efedea, #223a2c);*/
/*}*/

body {
  scroll-behavior: smooth;

  color: var(--text-primary-color);
  background-color: var(--bg-color);

  margin: 0;
  padding: var(--page-vertical-padding) var(--page-horizontal-padding);

  &.dark {
    --text-primary-color: var(--text-primary-dark);
    --text-secondary-color: var(--text-secondary-dark);
    --text-accent-color: var(--text-accent-dark);
    --bg-color: var(--bg-dark);
    --hover-bg-color: var(--hover-dark-bg-color);

    & .mode-button--dark {
      display: none;
    }

    & .mode-button--light {
      display: flex;
    }
  }

  &.light {
    --text-primary-color: var(--text-primary-light);
    --text-secondary-color: var(--text-secondary-light);
    --text-accent-color: var(--text-accent-light);
    --bg-color: var(--bg-light);
    --hover-bg-color: var(--hover-light-bg-color);

    & .mode-button--dark {
      display: flex;
    }

    & .mode-button--light {
      display: none;
    }
  }
}

header {
  display: grid;
  gap: var(--page-global-gap);
}

section {
  margin-bottom: var(--section-margin-bottom);
}

.tile {
  display: grid;
  gap: var(--page-global-gap);
  padding: calc(var(--section-margin-bottom) / 2);
  border-radius: .5rem;


  /*&:not(:first-of-type) {*/
  /*  margin-top: var(--section-margin-bottom);*/
  /*}*/

  .inner-tile {
    display: grid;
    gap: var(--page-global-gap);
  }
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: var(--h1-font-size);
  color: var(--text-accent-color);
}

h2 {
  font-size: var(--h2-font-size);
  color: var(--text-accent-color);
  padding: 3rem 0;

  &:not(.subtitle) {
    text-transform: uppercase;
  }

  &.subtitle {
    font-size: var(--h2-subtitle-font-size);
    padding: 0;
    font-weight: 500;
  }
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: 500;
}

p {
  font-size: var(--p-font-size);
  line-height: 140%;
  margin: 0;

  &.short-summary {
    max-width: 280px;
  }
}

summary {
  display: grid;
  gap: var(--page-global-gap);

  p {
    font-size: var(--h3-font-size);
  }
}


b {
  color: var(--text-accent-color);
}

path {
  stroke: var(--text-accent-color);
  &.mail {
    fill: var(--text-accent-color);
    stroke: none;
  }
}

footer {
  font-size: var(--footer-font-size);
  padding-top: 1.25rem;

  a {
    text-decoration: underline;
    font-weight: 600;
  }
}

.mode-button {
  position: absolute;
  top: var(--mode-icon-margin);
  right: var(--mode-icon-margin);

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.mode-button__light {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, .25);
}

ul, ol {
  /*list-style: none;*/
  /*TODO*/
  padding-inline-start: .875rem;
  margin: 0;

  li {
    font-size: var(--p-font-size);
  }
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header {
  font-size: var(--tile-header-font-size);
  color: var(--text-secondary-color);

}

nav {
  display: none;
  margin-top: 3rem;

  ul {
    list-style: none;
    padding: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    width: fit-content;
    color: var(--text-primary-color);
    text-decoration: none;
    padding: 8px 0;
    transition: color var(--animation-time-and-easing), font-weight var(--animation-time-and-easing);


    span {
      transition: width var(--animation-time-and-easing), background-color var(--animation-time-and-easing), height var(--animation-time-and-easing);
      display: block;
      height: 1px;
      width: 2rem;
      background: var(--text-primary-color);
      margin-right: 1rem;
    }
  }

  .nav-link.active,
  .nav-link:hover {
    color: var(--text-accent-color);
    font-weight: bold;

    span {
      background: var(--text-accent-color);
      width: 4rem;
      height: 2px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.skill {
  font-size: var(--p-font-size);
  color: var(--text-accent-color);
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 12px;
  border: 2px solid var(--text-accent-color);
}

.socials {
  display: flex;
  gap: var(--page-global-gap);
  margin-top: 2.5rem;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .mode-button--dark {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .mode-button--light {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  .tile {
    display: flex;
  }

  .header {
    width: 220px;
    min-width: 220px;
  }
}

@media screen and (min-width: 1224px) {
  body {
    display: flex;
    /*height: 100vh;*/
    max-width: 1400px;
    margin: auto;
  }

  header {
    width: 500px;
    height: calc(100vh - 2*var(--page-vertical-padding));
    position: fixed;

    display: flex;
    flex-direction: column;

    .socials {
      margin-top: auto;
    }
  }

  nav {
    display: block;
  }

  main {
    margin-left: calc(500px + var(--page-horizontal-padding));

    h2 {
      padding-left: calc(var(--section-margin-bottom) / 2);
    }
  }

  #experience {
    .tile {
      cursor: pointer;
      transition: background-color .2s ease-in-out;

      &:hover {
        background-color: var(--hover-bg-color);
      }
    }

    .content-list:hover .tile:not(:hover) {
      opacity: .7;
    }
  }

  #techstack {
    .skill {
      cursor: pointer;
      transition: opacity var(--animation-time-and-easing);
    }

    .content-list:hover .skill:not(:hover) {
      opacity: .7;
    }
  }

  .socials {
    a {
      transition: opacity var(--animation-time-and-easing);
    }

    &:hover a:not(:hover) {
      opacity: .7;
    }
  }
}
